body {
  margin-left: 30px;
}

#parties {
  display: flex;
  flex-wrap: wrap; 
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center; 
}

.party {
  width: 100%;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.party:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.party p {
  font-family: 'Arial', sans-serif; /* Modern font */ 
}

.deleteBtnClass {
  margin-top: 10px;
  padding: 10px;
  font-size: 0.9em;
  font-weight: bold;
  color: white;
  background-color: rgb(235, 12, 12); 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deleteBtnClass:hover {
  background-color: #ff2c36;
}
